.mainSerchConteiner {
  display: flex;
  justify-content: center;
  width: 40%;
  height: 2.5rem;
  margin-left: 5%;
  position: relative;
}
.mainSearch {
  width: 92%;
  position: relative;
  z-index: 1000;
}
.input.mainSerchinput {
  width: 100%;
}

.mainSearch .inputErrorCont {
  height: 100%;
}

.mainSerchButton {
  width: 40px;
  border-top-right-radius: var(--border-radius-l);
  border-bottom-right-radius: var(--border-radius-l);
  border: 1px solid rgba(255, 255, 255, 0.52);
  transition: box-shadow 0.3s ease;
  /* background-color: transparent;
  background: #f9f9f9b5; */
  position: relative;
  z-index: 1000;
}
.mainSerchButton .button-image {
  width: 30px !important;
}

.errorMessageMainSearch {
  position: absolute;
  top: 100%;
  margin: auto;
  color: white;
  font-size: 15px;
  margin-top: 4px;
  white-space: nowrap;

  z-index: 1000;
}

@media (max-width: 850px) {
  .mainSerchConteiner {
    margin-left: 0%;
  }
}

@media (max-width: 650px) {
  .mainSerchConteiner {
    width: 60%;
  }
}
