.flex {
  display: flex;
}
/* * {
  color: black;
} */
.profile {
  margin: auto;
  background-color: rgba(128, 128, 128, 0.284);
  border-radius: 15px;
  justify-content: center;
  width: 70%;
}
.mainContent {
  width: 50%;
  height: 78svh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-left: 1px solid rgba(245, 245, 245, 0.331);
  border-right: 1px solid rgba(245, 245, 245, 0.331);
  /* border: 1px solid; */
}
@media (max-width: 900px) {
  .profile {
    width: 80%;
  }
}
@media (max-width: 750px) {
  .inputProfilePicutre input[type='file']::-webkit-file-upload-button {
    font-size: var(--font-size-m);
  }
}
@media (max-width: 600px) {
  .profile {
    border-radius: 0;
    width: 100%;
    flex-direction: column;
  }

  .mainContent {
    width: 100%;
    min-height: 100%;

    border: none;
    overflow-y: auto;
    padding-bottom: 20px;
    /* padding-top: 10px !important; */
  }

  .deleteAcccount {
    /* border: 1px solid blue; */
    width: fit-content;
    text-align: center;
    margin: auto;
  }
  .createReq,
  .fav {
    display: none;
  }
}
@media (max-width: 380px) {
}
