.home {
  display: flex;
  justify-content: baseline;
  width: 100%;
}

.hero-text {
  font-family: var(--hero-font-family);
  width: 400px;
  font-size: 7rem;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.533);
  font-weight: 400;
  transform: rotate(270deg);
  margin-top: 150px;
  transform-origin: center;
  line-height: 0.8;
  text-shadow: 5px 5px 15px rgba(188, 177, 177, 0.936);
}
@media (max-width: 900px) {
  .hero-text {
    width: 350px;
    font-size: 7rem;
  }
}
@media (max-width: 700px) {
  .home {
    flex-direction: column-reverse;
    justify-content: center;
    width: 100%;
  }

  .hero-text {
    /* display: none; */
    position: absolute;
    bottom: 50px;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0%;
    width: 150px;
    font-size: 3rem;
    transform: rotate(0deg);
  }
}
@media (max-width: 450px) {
  .hero-text {
    bottom: 70px;
    font-size: 2rem;
  }
}
