.favorites {
  display: flex;
  flex-direction: column;
  padding-bottom: var(--spacing-xl);
}
.favorites > h2 {
  margin-top: var(--spacing-xl);
  margin-bottom: var(--spacing-xl);
  color: var(--background-color3);
  font-family: var(--hero-font-family);
  font-weight: 600;
  font-size: 50px;
}
.interestingsUsersCont {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding: 25px 0px 0px 0px;
  min-height: 60svh;
}

.noFavoritesYet {
  text-align: center;
  color: var(--text-color1);
  font-family: var(--h-1-2-font-family);
  font-weight: 500;
  font-size: var(--font-size-xl);
}
