.left,
.right {
  flex-direction: column;
  align-items: center;
  height: 78svh;
  width: 25%;
}
.left h3 {
  /* color: whitesmoke; */
}
.iconAside {
  width: 20px;
  height: 20px;
}
.iconAsideRight {
  height: 50px;
  width: 50px;
}
.profileOptionsCont {
  width: 60%;
  gap: 15px;
}
.profileActionsCont {
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 20px;
  margin-top: 10%;
}
.profileOptions {
  align-items: center;
  width: 100%;
  gap: 15px;
  /* border: 1px solid; */
  /* color: white; */
}
.profileActions {
  flex-direction: column;
  align-items: center;
  gap: 20px;

  /* color: white; */
}

.backToSkillPool {
  margin-top: 20px;
  width: 150px;
  font-size: '13px';
  text-align: center;
  color: rgba(0, 0, 255, 0.566);
  font-weight: 700;
}
li {
  cursor: pointer;
}

.messageList {
  max-height: 45svh;
  overflow-y: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  justify-content: space-around;
  border-radius: 5px;
  width: 120%;
  background-color: #f9f9f9b5;
}

.noMessages {
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  justify-content: space-around;
  border: 1px solid rgba(128, 128, 128, 0.278);
  border-radius: 5px;
  width: 120%;
  font-size: 13px;
  font-weight: 500;
}

.messageItem {
  /* justify-content: center; */
  cursor: pointer;
  gap: 10px;
  align-items: center;
  /* background-color: #f9f9f9; */
  padding: 5px;
  transition: background-color 0.9s;
  border-bottom: 1px solid #ccc;
  background-color: #f9f9f977;
}

.messageItem p {
  font-size: 13px;
  font-weight: 500;
}

.messageItem:hover {
  background-color: #e9e9e9;
  cursor: pointer;
}

.senderPicture {
  width: 25px;
  border-radius: 50%;
  height: 25px;
}

/* .left {
  border-right: 1px solid rgba(245, 245, 245, 0.331);
}
.right {
  border-left: 1px solid rgba(245, 245, 245, 0.331);
} */
@media (max-width: 1200px) {
  /* .left,
  .right {
    width: 25% !important;
  } */
}

.deleteAccount {
  color: black;
}

@media (max-width: 1000px) {
  .left h3 {
    font-size: var(--font-size-ml);
  }

  .profileOptions {
    font-size: 13px;
  }
  .profileActions h4 {
    font-size: var(--font-size-m);
  }
  .iconAsideRight {
    height: 50px;
    width: 50px;
  }
  .deleteAccount {
    font-size: var(--font-size-m);
    margin-bottom: 15px;
  }
  .messageItem p {
    font-size: 12px;
    font-weight: 500;
  }
}
@media (max-width: 750px) {
  .profileOptions {
    font-size: var(--font-size-m);
  }
  .iconAside {
    width: 15px;
    height: 15px;
  }
  .iconAsideRight {
    height: 40px;
    width: 40px;
  }
  .messageItem p {
    font-size: 11px;
    font-weight: 500;
  }
  .senderPicture {
    width: 20px;
    border-radius: 50%;
    height: 20px;
  }

  .left h3 {
    font-size: 13px;
  }

  .noMessages {
    font-size: 11px;
  }
}
@media (max-width: 600px) {
  .profileOptionsCont,
  .profileActionsCont {
    flex-direction: row !important;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .messageList {
    position: absolute;
    min-height: fit-content;
    max-height: 73svh;
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 40%;
    z-index: 10;
    top: 100%;
    right: 0;
    height: 50%;
  }

  /* .noMessages {
    position: absolute;
    z-index: 10 !important;
    top: 100%;
    right: 0;
    width: 50%;
    z-index: 10000;
  } */
  .profileOptions {
    width: 30%;
    justify-content: center;
    gap: 10px;
  }
  .left h3 {
    display: none;
  }
  .profileActionsCont {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    gap: 0px;
    margin-top: 0px;
    /* border: 1px solid red; */
  }

  .messageItem {
    background-color: #f9f9f9;
    padding: 10px;
    transition: background-color 0.3s;
  }

  .left {
    border-bottom: 1px solid rgba(245, 245, 245, 0.331);
  }
  .right {
    border-top: 1px solid rgba(245, 245, 245, 0.331);
  }
  .left,
  .right {
    width: 100% !important;
    height: 5svh;
    justify-content: center;
  }
}
